.app_image{
  
  background-image: url(./images/synthwaveBackground.jpg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#start{
  height: 55vh;
}