.sizing{
    width: 50%;
}

.red {
    background-color: darkred;
    color: white;
}

.orange {
    background-color: #ffbd59;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: darkgreen;
    color: white;
}

.blue {
    background-color: #0097b2;
    color: white;
}

.purple {
    background-color: purple;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.gray {
    background-color: darkslategray;
    color: white;
}
body,html {
    height: 100%;
}